body {
    background-color: lightpink;
}

/*header color*/
    h1 {
        color: palevioletred;
        font-family: "Trattatello", fantasy;
        text-align: center;
    }
    /*text color*/
    p{
        color: teal;
        font-family: "Trattatello", fantasy;
    }
    /*list color*/
    ol{
        color: tomato;
        font-family: "Snell Roundhand", cursive;
    }

    /*class for boxes*/
    .test{
        margin: 20px;
        padding: 50px;
        border: 10px solid hotpink;
        background-color: blanchedalmond;
        color: royalblue;
        
        
    }

    /* css link info found from https://www.w3schools.com/css/css_link.asp*/

    /* unvisited link */
a:link {
    color: deeppink;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: lightpink;
  }
  
  /* selected link */
  a:active {
    color: indigo;
  }
    